*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Potta One', cursive;
}

body{
    background-color: aquamarine;
}

header{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    color: white;
    font-size: larger;
}


.container{
    width: 54%;
    margin: 0 auto;
    position: relative;
}

[class^="card"]{

    width: 175px;
    height: 200px;
    background: url("../assets/img/pattern.png");
    border: 1px solid black;
    border-radius: 10px;
    background-size: 200px;
    display: inline-block;
}



[class^="overlay"]{
    width: 175px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0;
}
[class^="overlay"] h2{
    font-size: 25px;
    padding-top: 150px;
    padding-left: 15%;
    
    
}

.overlay {
    
    left: 0;
    top: 0;
    background: url("../assets/img/noun_air_balloon_3134741.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}



.overlay2 {

    left: 182px;
    top: 0;
    background: url("../assets/img/noun_Bicycle_3134821.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}



.overlay3 {
    
    left: 363px;
    top: 0;
    background: url("../assets/img/noun_Cruise_Ship_3134824.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    
}

.overlay4 {

    left: 544px;
    top: 0;
    background: url("../assets/img/noun_Submarine_3134738.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay5 {

    left: 0;
    top: 205px;
    background: url("../assets/img/noun_Tractor_3134797.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay6 {

    left: 182px;
    top: 205px;
    background: url("../assets/img/noun_Tram_3134750.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay7 {
  
    left: 363px;
    top: 205px;
    background: url("../assets/img/noun_air_balloon_3134741.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay8 {

    left: 544px;
    top: 205px;
    background: url("../assets/img/noun_Bicycle_3134821.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay9 {

    left: 0;
    top: 410px;
    background: url("../assets/img/noun_Cruise_Ship_3134824.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay10 {

    left: 183px;
    top: 410px;
    background: url("../assets/img/noun_Submarine_3134738.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay11 {

    left: 363px;
    top: 410px;
    background: url("../assets/img/noun_Tractor_3134797.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

.overlay12 {
 
    left: 544px;
    top: 410px;
    background: url("../assets/img/noun_Tram_3134750.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;

}

[class^="card"]:hover [class^="overlay"]{
    opacity: 1;
}





footer{
    text-align: center;
    font-size: medium;
}